<%-include("partials/header")-%>
    <div class="buttons">
        <button class="btn btn-primary search"> <a class="word-link" href="/search-word">Search for the meaning of a word</a></button>
        <button class="btn btn-primary"><a class="word-link" href="/random-word"> Get the meaning of a random word</a></button>
        <button class="btn btn-primary"> <a class="word-link" href="/show-all-words">Show the words searched till now</a> </button>
    </div>
    <%-include("partials/footer")-%>