<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>learn</title>
    <link rel="icon" href="images/encyclopedia.png">
    <link rel="stylesheet" href="/css/styles-learn.css">
</head>

<body>
    <div class="scrolling">
        <p>Here are the Resources to learn English Grammar ! Click on the below text to go to learning resources !</p>
    </div>


    <div class="timeline">
        <div class="container left-container">
            <div class="text-box">
                <h2><a target="_blank" href="https://www.grammarly.com/blog/parts-of-speech/">Parts Of Speech</a></h2>
                <span class="left-container-arrow"></span>
            </div>
        </div>
        <div class="container right-container">
            <div class="text-box">
                <h2><a target="_blank" href="https://www.grammarly.com/blog/verb-tenses/">Verb Tenses</a></h2>
                <span class="right-container-arrow"></span>
            </div>
        </div>
        <div class="container left-container">
            <div class="text-box">
                <h2><a target="_blank" href="https://www.butte.edu/departments/cas/tipsheets/grammar/parts_of_speech.html">Vocabulary</a></h2>
                <span class="left-container-arrow"></span>
            </div>
        </div>
        <div class="container right-container">
            <div class="text-box">
                <h2><a target="_blank" href="https://www.englishclub.com/vocabulary/">Sentence Structure</a></h2>
                <span class="right-container-arrow"></span>
            </div>
        </div>
        <div class="container left-container">
            <div class="text-box">
                <h2><a target="_blank" href="https://www.thesaurus.com/e/grammar/phrase-vs-clause/">Phrases and Clauses</a></h2>
                <span class="left-container-arrow"></span>
            </div>
        </div>
        <div class="container right-container">
            <div class="text-box">
                <h2><a target="_blank" href="https://www.grammarly.com/punctuation">Punctuation</a></h2>
                <span class="right-container-arrow"></span>
            </div>
        </div>
        <div class="container left-container">
            <div class="text-box">
                <h2><a target="_blank" href="https://www.englishclub.com/vocabulary/phrasal-verbs-list.php">Phrasal Verbs</a></h2>
                <span class="left-container-arrow"></span>
            </div>
        </div>
        <div class="container right-container">
            <div class="text-box">
                <h2><a target="_blank" href="https://www.grammarly.com/blog/articles/">Articles</a></h2>
                <span class="right-container-arrow"></span>
            </div>
        </div>
        <div class="container left-container">
            <div class="text-box">
                <h2><a target="_blank" href="https://learnenglish.britishcouncil.org/grammar/english-grammar-reference/quantifiers">Quantifiers</a></h2>
                <span class="left-container-arrow"></span>
            </div>
        </div>
        <div class="container right-container">
            <div class="text-box">
                <h2><a target="_blank" href="https://www.butte.edu/departments/cas/tipsheets/grammar/parts_of_speech.html">Idioms</a></h2>
                <span class="right-container-arrow"></span>
            </div>
        </div>
    </div>
</body>

</html>