/* strong {
    text-transform: capitalize;
} */

body {
    background-image: none;
    background-image: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    padding-top: 9%;
    color: #B980F0;
    font-size: 4.5em;
    font-family: 'Roboto Slab', serif;
}

.button-word-interface {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 80px;
    gap: 10px;
    font-family: 'Cabin', sans-serif;
}

.btn {
    background-color: #D19FEB;
}

.btn:hover {
    background-color: #C780FA;
}

@media (max-width:500px) {
    body {
        margin-top: 90px;
    }
    h1 {
        font-size: 30px;
    }
    .button-word-interface {
        margin-top: 1px;
    }
    .btn {
        width: 320px;
        font-size: 13px;
    }
}
